:root {
  --light-bg: #383c44;
  --select-light-bg: #61646a;
  --color-sidebar: #b9babd;
  --dark-bg: #282d34;
  --dark-input: #151922;
  --border-dbg: #54585f;
  --req: #95979c;
  --plus: #43a5a1;
}
body {
  background-color: var(--dark-bg);
}

aside {
  height: 100%;
  background-color: var(--light-bg);
  min-width: 250px;
  border-right: 1px solid var(--color-sidebar);
}
aside .search-part {
  width: 100%;
  border-bottom: 1px solid var(--color-sidebar);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.search-part section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.profile-btn {
  position: relative;
  border: 0;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  overflow: hidden;
  margin: 15px 10px;
}
.profile-btn:hover,
.profile-img:hover {
  cursor: pointer;
}
.profile-img {
  border-radius: 50%;
}
.search-part section > span {
  position: relative;
}
.profile-menu-drp {
  position: absolute;
  left: 10px;
  background-color: var(--dark-bg);
  width: 230px;
  border: 1px solid var(--border-dbg);
}

.profile-menu-drp::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--dark-bg);
  transform: rotate(45deg);
  top: -11px;
  left: 10px;
  border-top: 1px solid var(--border-dbg);
  border-left: 1px solid var(--border-dbg);
}
.profile-menu-drp .profile-name {
  text-align: center;
  color: white;
  margin: 10px 0;
}
.profile-menu-drp ul {
  margin: 0 0 15px 15px;
}
.profile-menu-drp ul li a {
  text-decoration: none;
  color: var(--color-sidebar);
  margin: 0 0 0 10px;
}

.info-setting {
  padding: 15px 10px 0 0;
}
.info-setting svg {
  margin: 5px;
  color: var(--color-sidebar);
  cursor: pointer;
}
.search-part > input {
  border: none;
  width: 90%;
  border-radius: 50px;
  background-color: var(--dark-input);
  height: 35px;
  margin-inline: auto;
  padding-left: 10px;
  color: white;
}
.category-part,
.top-side-drp {
  width: 100%;
}

.catego-drp,
.folder-drp {
  border-bottom: 1px solid var(--color-sidebar);
  padding-left: 10px;
  padding-top: 10px;
}
.active-categories {
  overflow: hidden;
  height: 0px;
}
.active-profile-menu {
  visibility: hidden;
}
.catego-drp p,
.folder-drp p {
  color: rgb(112, 114, 118);
  font-weight: 500;
  font-size: 13px;
  user-select: none;
}
.catego-drp p:hover,
.folder-drp p:hover {
  cursor: pointer;
}
.catego-drp ul,
.folder-drp ul {
  list-style: none;
  margin-top: 10px;
}
.catego-drp ul li,
.folder-drp ul li {
  margin-bottom: 10px;
}
.catego-drp ul li a,
.folder-drp ul li a {
  color: var(--color-sidebar);
  text-decoration: none;
}
.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.toggle {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-sidebar);
  user-select: none;
}
.toggle:hover {
  cursor: pointer;
}
.active-sidebar {
  display: block;
}
.active-toggle {
  display: none;
}
@media (max-width: 576px) {
  html {
    min-width: 400px;
  }
  aside {
    display: none;
    position: absolute;
    z-index: 2;
    max-width: 200px;
  }
  .toggle {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  aside {
    min-width: 180px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  form {
    width: 70%;
  }
}
